*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: grey;
}

.container{
    background: rgb(22, 58, 124);
    padding: 20px;
    border-radius: 10px;
}

.imagens img{
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

.imagens #selecionado{
    display: block;
    margin: 20px auto 20px auto;
    width: 300px;
    cursor: default;
    cursor: pointer;
}